/* section about me */
.about {
   background: #3a3a3a;
}

.about__title {
   padding-top: 60px;
}

.about__items {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}

.about__items-left {
   margin: 20px 40px 30px 0px;
}

.about__text {
   color: #d6d5d5;
   font-size: 18px;
   margin-top: 55px;
}

.about__text p {
   margin: 30px 0px;
   letter-spacing: 0.8;
   line-height: 1.6;
}

.about__text p strong {
   color: #fff;
}

.about__p--link {
   color: #fff;
   font-style: italic;
   font-weight: 700;
}

.about__p--link:hover {
   font-size: 20px;
   transition: all 0.3s;
}

.about__download {
   display: inline-block;
   line-height: 44px;
   border-radius: 20px;
   height: 44px;
   padding: 0px 20px 0px 20px;
   float: right;
   margin: 50px 0px;
   background-color: #fff;
   position: relative;
}

.about__download span {
   color: #252525;

}

.about__download:hover {
   background: #eee;
   color: #fff;
   border: 1px solid #fff;
   transition: all 0.8s;
}

.about__items-right {
   padding: 45px 0px 30px 0px;
}

.about__tech-skills span,
.about__soft-skills span {
   text-align: center;
}

.about__soft-skills {
   padding: 30px 0px 10px 0px;
}

.about__tech-skills li,
.about__soft-skills li {
   list-style: none;
   margin: 15px 0;
   display: block;
   width: 450px;
   margin: 20px auto;
   color: #fff;
}

.bar {
   display: block;
   height: 4px;
   background: #000;
   border-radius: 3px;
   overflow: hidden;
   box-shadow: 0 0 10px #939393;
   margin-top: 10px;
}

.bar span {
   height: 4px;
   float: left;
   background: #939393;
}

.html {
   width: 90%;
   animation: html 2s;
}

.css {
   width: 85%;
   animation: css 2s;
}

.javascript {
   width: 60%;
   animation: javascript 2s;
}

.react {
   width: 30%;
   animation: javascript 2s;
}

.jquery {
   width: 70%;
   animation: jquery 2s;
}

.photoshop {
   width: 70%;
   animation: photoshop 2s;
}

.teamplayer {
   width: 100%;
   animation: teamplayer 2s;
}

.learn {
   width: 100%;
   animation: learn 2s;
}

.english {
   width: 95%;
   animation: english 2s;
}

.russian {
   width: 100%;
   animation: russian 2s;
}

.dutch {
   width: 20%;
   animation: dutch 2s;
}

.skills--title {
   display: block;
   font-size: 20px;
   font-weight: 600;
   color: #fff;
   width: 500px;
}

@keyframes html {
   0% {
      width: 0;
   }
}

@keyframes css {
   0% {
      width: 0;
   }
}

@keyframes javascript {
   0% {
      width: 0;
   }
}

@keyframes jquery {
   0% {
      width: 0;
   }
}

@keyframes react {
   0% {
      width: 0;
   }
}

@keyframes photoshop {
   0% {
      width: 0;
   }
}

@keyframes teamplayer {
   0% {
      width: 0;
   }
}

@keyframes learn {
   0% {
      width: 0;
   }
}

@keyframes english {
   0% {
      width: 0;
   }
}

@keyframes russian {
   0% {
      width: 0;
   }
}

@keyframes dutch {
   0% {
      width: 0;
   }
}