/* section about me */
.about {
  background: var(--primary-bg-light);
}

.about__title {
  padding-top: 6rem;
}

.about__items {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 3rem;
}

.about__items-left {
  margin: 2rem 2rem 1.5rem 1.5rem;
}

.about__text {
  font-size: 1.8rem;
  margin-top: 5.5rem;
  padding-right: 2rem;
}

.about__text-invisible {
  display: none;
}

.show {
  cursor: pointer;
  text-decoration: underline;
}

.about__text p {
  margin: 3rem 0;
  letter-spacing: 0.8;
  line-height: 1.6;
}

.about__text p strong {
  color: #fff;
}

.about__p--link {
  color: #fff;
  text-decoration: underline;
}

.about__p--link:hover {
  font-size: 2rem;
  transition: all 0.3s;
}

.about__download {
  display: inline-block;
  line-height: 4.4rem;
  border-radius: 2rem;
  height: 4.4rem;
  padding: 0 2rem 0 2rem;
  margin: 5rem 0;
  background-color: #fff;
  position: relative;
}

.about__download span {
  color: #252525;
  font-size: 1.8rem;
}

.about__download:hover {
  background: #eee;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.8s;
}

.about__items-right {
  padding: 4.5rem 0 3rem 0;
}

.about__tech-skills span,
.about__soft-skills span {
  text-align: center;
}

.about__soft-skills {
  padding: 3rem 0 1rem 0;
}

.about__tech-skills li,
.about__soft-skills li {
  list-style: none;
  margin: 1.5rem 0;
  display: block;
  width: 45rem;
  margin: 2rem auto;
  color: #fff;
  font-size: 1.8rem;
}

.bar {
  display: block;
  height: 4px;
  background: #000;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 1rem #939393;
  margin-top: 1rem;
}

.bar span {
  height: 4px;
  float: left;
  background: var(--secondary-color);
}

.html {
  width: 90%;
  animation: html 2s;
  animation-delay: 2s;
}

.css {
  width: 85%;
  animation: css 2s;
  animation-delay: 2s;
}

.javascript {
  width: 50%;
  animation: javascript 2s;
  animation-delay: 2s;
}

.php {
  width: 50%;
  animation: php 2s;
  animation-delay: 2s;
}

.sql {
  width: 60%;
  animation: sql 2s;
  animation-delay: 2s;
}

.jquery {
  width: 70%;
  animation: jquery 2s;
  animation-delay: 2s;
}

.npm {
  width: 80%;
  animation: jquery 2s;
  animation-delay: 2s;
}

.webpack {
  width: 60%;
  animation: jquery 2s;
  animation-delay: 2s;
}

.photoshop {
  width: 70%;
  animation: photoshop 2s;
  animation-delay: 2s;
}

.teamplayer {
  width: 100%;
  animation: teamplayer 2s;
  animation-delay: 2s;
}

.learn {
  width: 100%;
  animation: learn 2s;
  animation-delay: 2s;
}

.english {
  width: 95%;
  animation: english 2s;
  animation-delay: 2s;
}

.russian {
  width: 100%;
  animation: russian 2s;
  animation-delay: 2s;
}

.dutch {
  width: 20%;
  animation: dutch 2s;
  animation-delay: 2s;
}

.skills--title {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}

@keyframes html {
  0% {
    width: 0;
  }
}

@keyframes css {
  0% {
    width: 0;
  }
}

@keyframes javascript {
  0% {
    width: 0;
  }
}

@keyframes php {
  0% {
    width: 0;
  }
}

@keyframes sql {
  0% {
    width: 0;
  }
}

@keyframes jquery {
  0% {
    width: 0;
  }
}

@keyframes npm {
  0% {
    width: 0;
  }
}

@keyframes webpack {
  0% {
    width: 0;
  }
}

@keyframes photoshop {
  0% {
    width: 0;
  }
}

@keyframes teamplayer {
  0% {
    width: 0;
  }
}

@keyframes learn {
  0% {
    width: 0;
  }
}

@keyframes english {
  0% {
    width: 0;
  }
}

@keyframes russian {
  0% {
    width: 0;
  }
}

@keyframes dutch {
  0% {
    width: 0;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1020px) {
  .about__items {
    display: flex;
    flex-direction: column;
  }

  .about__items-right {
    display: flex;
    justify-content: space-around;
  }

  .about__text {
    margin: 0 2.5rem;
  }

  .about__soft-skills {
    padding: 0;
  }

  .about__tech-skills li,
  .about__soft-skills li {
    width: 35rem;
  }
}

@media (max-width: 840px) {
  .about__items-right {
    display: flex;
    flex-direction: column;
  }

  .about__text {
    margin: 0;
    padding: 0;
  }

  .about__tech-skills li,
  .about__soft-skills li {
    width: 45rem;
  }

  .about__soft-skills {
    margin-top: 3rem;
  }

  .about__download {
    left: 30%;
  }
}

@media (max-width: 520px) {
  .about__tech-skills li,
  .about__soft-skills li {
    width: 30rem;
  }

  .slider-ref {
    display: none;
  }

  .about__items {
    padding: 0;
  }
}
