nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: var(--primary-bg-dark);
   height: 8vh;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1;
}

.logo {
   color: var(--secondary-color);
   font-size: 2rem;
}

.nav-links {
   display: flex;
   width: 40%;
   justify-content: space-around;
}

.nav-links a {
   list-style: none;
   color: var(--secondary-color);
   letter-spacing: 2px;
   font-size: 1.8rem;
   transition: all 0.5s;
}

.nav-links a:hover {
   color: #fff;
}

.burger {
   display: none;
}

.burger div {
   width: 2.5rem;
   height: 3px;
   background-color: var(--secondary-color);
   margin: 5px;
   transition: all 0.3s ease;
}

.toggle .burger__line-1 {
   transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .burger__line-2 {
   opacity: 0;
}
.toggle .burger__line-3 {
   transform: rotate(45deg) translate(-5px, -6px);
}

/* header content  */
.header__content {
   background: var(--primary-bg-dark);
}

.header__content-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 3rem;
   color: var(--primary-color);
}

.content__items-text {
   margin-top: 10rem;
   font-size: 2rem;
}

.content__items-text h2 {
   margin-bottom: 3rem;
   font-weight: 600;
   color: #fff;
   font-size: 3.4rem;
}

.content__items-text p {
   border-bottom: 1px solid #444;
   border-top: 1px solid #444;
   padding: 1.5rem 0;
}

.content__social-inner {
   margin: 1.5rem 0 6rem 0;
}

.content__social {
   display: flex;
   border-bottom: 1px solid #444;
   padding-bottom: 1.5rem;
}

.content__social-location {
   padding: 4rem 0 4rem 0;
   font-size: 2rem;
}

.content__social-location span {
   padding-left: 1rem;
}

.content__social-link {
   display: flex;
   margin-right: 2rem;
   color: var(--primary-color);
   font-size: 2.8rem;
}

.content__social-link:hover {
   font-size: 3.6rem;
   transition: all 0.5s;
   color: #fff;
}

.content__btn {
   display: inline-block;
   line-height: 4.4rem;
   border-radius: 2rem;
   height: 4.4rem;
   padding: 0 2rem 0 2rem;
   background-color: #fff;
   color: var(--primary-bg-dark);
   position: relative;
   font-size: 1.8rem;
}

.content__img {
   margin-top: 7rem;
}

@media screen and (max-width: 1024px) {
   .nav-links {
      width: 60%;
   }

   nav {
      padding-left: 7rem;
   }
}

@media screen and (max-width: 768px) {
   .content__img {
      display: none;
   }

   body.lock {
      overflow: hidden;
   }

   nav {
      justify-content: space-between;
      padding: 0 3rem 0 6rem;
   }
   .nav-links {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: var(--primary-bg-dark);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      z-index: 10;
      transform: translateX(100%);
      transition: transform 0.5 ease-in;
   }

   .burger {
      display: block;
      cursor: pointer;
   }

   .nav-active {
      transform: translateX(0);
   }
}

@keyframes navLinkFade {
   from {
      opacity: 0;
      transform: translateX(50%);
   }
   to {
      overflow: 1;
      transform: translateX(0%);
   }
}
