.header {
   color: #939393;
}

.header__top {
   height: 6rem;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   align-items: center;
}

.header__top:before {
   content: "";
   background-color: #252525;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.header__top-menu {
   position: relative;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   height: 6rem;
}

.header__list {
   display: flex;
   position: relative;
   z-index: 2;
}

.header__list li {
   margin-left: 2rem;
}

.header__link {
   color: #939393;
   font-size: 2rem;
   text-decoration: none;
}

.header__link:hover {
   color: #fff;
   transition: all 0.5s;
   font-size: 2.2rem;
}

.header__burger {
   display: none;
}

.header__content {
   background: #252525;
}

.header__content-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   color: #d6d5d5;
}

.content__items-text {
   margin-top: 10rem;
}

.content__items-text h2 {
   margin-bottom: 3rem;
   font-weight: 600;
   color: #fff;
   font-size: 3.4rem;
}

.content__items-text span {
   font-size: 1.8rem;
}

.content__items-text p {
   margin-bottom: 3rem;
   font-size: 2rem;
   border-bottom: 1px solid #444;
   border-top: 1px solid #444;
   padding: 1.5rem 0;
}

.contact__me {
   font-size: 1.8rem;
   padding-bottom: 1rem;
}

.content__social-inner {
   margin: 1.5rem 0 6rem 0;

}

.content__social {
   display: flex;
   border-bottom: 1px solid #444;
   padding-bottom: 1.5rem;
}

.content__social-udemy {
   width: 90px;
}

.content__social-udemy:hover {
   width: 100px;
   transition: all 0.5s;
}

.content__social-location {
   padding: 4rem 0 4rem 0;
   font-size: 1.8rem;
   color: #d6d5d5;
}

.content__social-location span {
   padding-left: 1rem;
}

.content__social-link {
   display: flex;
   margin-right: 2rem;
   color: #d6d5d5;
   font-size: 2.8rem;
}

.content__social-link:hover {
   font-size: 3.6rem;
   transition: all 0.5s;
   color: #fff;
}

.content__btn {
   display: inline-block;
   line-height: 4.4rem;
   border-radius: 2rem;
   height: 4.4rem;
   padding: 0 2rem 0 2rem;
   background-color: #fff;
   color: #252525;
   position: relative;
   font-size: 1.8rem;
}

.content__img {
   margin-top: 7rem;
}