/* portfolio style */
.portfolio {
   background: var(--primary-bg-dark);
}

.portfolio__title {
   padding-top: 6rem;
}

.portfolio__filter ul {
   display: flex;
   justify-content: center;
   padding-top: 3rem;
   text-transform: uppercase;
}

.portfolio__filter-link {
   color: var(--secondary-color);
   font-size: 1.5rem;
   letter-spacing: 0.2rem;
   margin-left: 1rem;
}

.portfolio-block {
   display: flex;
   flex-wrap: wrap;
   padding: 2rem 0 6rem 0;
}

.portfolio-block__items {
   flex: 0 1 33.33%;
   padding: 1.5rem;
   align-items: center;
   text-align: center;
   font-size: 1.6rem;
}

.portfolio-block__image img {
   height: 200px;
}

.image img {
   height: 200px;
   width: 300px;
}

.portfolio-block__title {
   font-size: 1.6rem;
   padding: 3rem 0 1.5rem 0;
   line-height: 1.4;
}

.portfolio-block__title h3 {
   font-weight: 600;
   font-size: 1.8rem;
   text-transform: uppercase;
}

.portfolio-block__text {
   line-height: 1.4;
   margin-bottom: 2rem;
}
