/* slider styles */
.slick-track {
   display: flex;
   align-items: flex-start;
}

.slick-list {
   overflow: hidden;
}

.slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
}

.slick-dots li {
   margin: 0 1rem;
}

.slick-dots .slick-active button {
   background-color: transparent;
   border: 1px solid #fff;
}

.slick-dots button {
   font-size: 0;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
}

/* references style */
.slider-ref {
   background: #252525;
   text-align: center;
   height: 450px;
}

.slider__title {
   padding-top: 6rem;
}

.slider__inner {
   padding-bottom: 6rem;
}

.slider__item-text {
   margin: 6rem 5rem 3rem 5rem;
   color: #d6d5d5;
   line-height: 1.6;
   font-size: 1.6rem;
}

.slider__item-author h5 {
   font-size: 1.8rem;
   color: #939393;
   font-weight: 600;
}

.slider__item-position {
   margin: 0.5rem 0 3rem 0;
   color: #939393;
   font-size: 1.6rem;
}