/* import files */
@import "null_style.css";
@import "header.css";
@import "about.css";
@import "portfolio.css";
@import "slider.css";
@import "footer.css";

/* variables */
:root {
   --primary-bg-dark: #252525;
   --primary-bg-light: #3a3a3a;
   --primary-color: #d6d5d5;
   --secondary-color: #939393;
}

/* default styles */
html {
   /* defines what 1rem is 10/16*100 = 62,5% */
   font-size: 62.5%;
}

.container {
   max-width: 120rem;
   margin: 0 auto;
   padding: 0 1.5rem;
}

.title--default {
   font-weight: 700;
   font-size: 3.2rem;
   color: #fff;
   text-align: center;
}

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: var(--primary-color);
}

@media (max-width: 520px) {
   .title--default {
      font-size: 2.8rem;
   }
}
