/* import files */
@import "null_style.css";
@import "header.css";
@import "about.css";
@import "portfolio.css";
@import "slider.css";
@import "experience.css";

/* default styles */

html {
   font-size: 62.5%;
}

.container {
   max-width: 120rem;
   margin: 0 auto;
   padding: 0 1.5rem;
}

.title--default {
   font-weight: 700;
   font-size: 3.2rem;
   color: #fff;
   text-align: center;
}

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* footer style */
.footer {
   background: #3a3a3a;
   color: #a0a0a0;
   height: 4rem;
   text-align: center;
   align-items: center;
   padding-top: 1.2rem;
   font-size: 1.6rem;
}